body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: quantico;
  background-color: #dfdfdf;
  background-image: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
}

#grain {
  background-image: url(graingif.gif);
  z-index: 999;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.04;
  pointer-events: none;
}

.timer {
  font-size: 1.5rem;
  position: absolute;
  top: 150px;
  left: 50px;
  font-weight: bold;
  color: #332213;
}

.game-over {
  position: absolute;
  font-size: 8rem;
  text-decoration: underline;
  font-weight: bold;
  transform: translate(calc((100vw - 647px) / 2), calc((100vh - 183px) / 2));
  z-index: 5;
  text-shadow: 1px 1px 10px #c779d0;
  color: #eed7f1;
}

.score-box {
  font-size: 3rem;
  position: absolute;
  top: 50px;
  left: 430px;
  color: #332213;
  font-weight: bold;
}

.reset {
  position: absolute;
  top: 50px;
  left: 50px;
  padding: 5px;
  font-size: 1.5rem;
  border: 2px solid #332213;
  background-color: rgba(255, 238, 223, 0.5);
  color: #332213;
  font-weight: bold;
}
.reset:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.display-none {
  display: none !important;
  pointer-events: none;
}

.menu-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 80px;
}
.main-title {
  font-size: 6rem;
  font-weight: bold;
  color: #eed7f1;
  text-shadow: 1px 1px 10px #ddafe3;
}
.menu-items-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  color: #eed7f1;
  text-shadow: 1px 1px 10px #ddafe3;
}
.menu-para {
  font-size: 2rem;
}
.menu-items {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: #eed7f1;
  text-shadow: 1px 1px 10px #ddafe3;
}

.menu-item-1:hover,
.menu-item-2:hover,
.menu-item-3:hover {
  box-shadow: 5px 5px 5px #ddafe3;
  cursor: pointer;
}

.menu-item-1 {
  background-color: #3c243e;
  padding: 10px 50px;
}
.menu-item-2 {
  background-color: #3c243e;
  padding: 10px 50px;
}
.menu-item-3 {
  background-color: #3c243e;
  padding: 10px 50px;
}

.grid-box {
  display: flex;
  flex-wrap: wrap;
}

.grid-box-4 {
  width: 450px;
  height: 450px;
  gap: 10px;
  transform: translate(calc((100vw - 450px) / 2), calc((100vh - 450px) / 2));
}
.grid-box-6 {
  width: 550px;
  height: 550px;
  gap: 10px;
  transform: translate(calc((100vw - 500px) / 2), calc((100vh - 500px) / 2));
}
.grid-box-8 {
  width: 600px;
  height: 600px;
  gap: 10px;
  transform: translate(calc((100vw - 600px) / 2), calc((100vh - 600px) / 2));
}

.image-4 {
  width: 100px;
  height: 100px;
  background-color: grey;
}

.image-6 {
  width: 75px;
  height: 75px;
  background-color: grey;
}
.image-8 {
  width: 60px;
  height: 60px;
  background-color: grey;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */

.flip-card1 {
  background-color: transparent;
  width: 100px;
  height: 100px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card2 {
  background-color: transparent;
  width: 75px;
  height: 75px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card3 {
  background-color: transparent;
  width: 60px;
  height: 60px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #3c243e;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #c779d000;
  color: white;
  transform: rotateY(180deg);
}

@media (max-width: 600px) {
  .main-title {
    font-size: 3rem;
  }
  .menu-para {
    font-size: 1.5rem;
  }
  .reset {
    top: 5px;
    left: 5px;
    font-size: 1.2rem;
  }
  .score-box {
    top: 45px;
    left: 5px;
  }
  .timer {
    left: 5px;
    top: 110px;
  }
  .grid-box-4 {
    width: 350px;
    height: 350px;
    gap: 10px;
    transform: translate(calc((100vw - 350px) / 2), calc((100vh - 350px) / 2));
  }
  .grid-box-6 {
    width: 350px;
    height: 350px;
    gap: 10px;
    transform: translate(calc((100vw - 350px) / 2), calc((100vh - 350px) / 2));
  }
  .grid-box-8 {
    width: 350px;
    height: 350px;
    gap: 10px;
    transform: translate(calc((100vw - 350px) / 2), calc((100vh - 350px) / 2));
  }
  .game-over {
    font-size: 4rem;
    transform: translate(calc((100vw - 323px) / 2), calc((100vh - 91px) / 2));
  }
}
